/* button.module.scss */
.button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Variants */
.primary {
  background-color: #4CAF50; /* Green similar to the image */
  color: white;
}

.error {
  background-color: #FF6347; /* Red background */
  color: white;
}

.secondary {
  background-color: #E0E0E0; /* Light gray button similar to image */
  color: black;
}

.default {
  background-color: transparent;
  color: white;
}

/* Hover effects */
.button:hover {
  transform: scale(1.05);
}

/* Sizes */
.lg {
  font-size: 18px;
  padding: 15px 30px;
}

.md {
  font-size: 16px;
  padding: 10px 15px;
}

.insideCard {
  padding: 5px 10px;
  background-color: transparent;
  margin-top: 20px;
  color: #285dc9;
}

.outsideCard {
  padding: 12px 24px;
  background-color: rgba(0, 0, 0, 0.12);
  width: 100%;
  border-radius: 8px;
}
